#grid{
    position: absolute;
    top: 100px;
    left: 360px;
    border: solid 1px black;
    width: 800px;
    height: 600px;
}
.character{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color:darkslategray;
}
.food{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
}